<% questions.forEach(function(question){ %>
  <div class="panel">
    <p class="question-text"> <%- question.text %> </p>
    <% if(question.image) {%>
      <img src=<%=question.image%> />
    <%}%>

    <ul class="choices">
      <% for(key in question.choices){ %>
        <% if (question.choices.hasOwnProperty(key)) {%>
          <% var choice = question.choices[key]%>
          <li class="choice">
            <p class="choice-text"><%- choice.text%></p>
            <% if(choice.image) {%>
              <img src=<%=choice.image%> />
            <%}%>
          </li>
        <%}%>
      <% }; %>
    </ul>
  </div>
<% }); %>
