<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chemistry 1AD Database</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" charset="utf-8">

    <link rel="stylesheet" href="/styles/css/app.css" >
    <script src="/scripts/jquery-2.2.2.min.js"></script>
    <script src="/scripts/underscore.min.js"></script>
    <script src="/scripts/ejs.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
</head>
<body class="container">

  <h2>Chemistry 1Ad Exam Question Database (BETA)</h2>

    <% include ../partials/filters %>

   <nav>
      <ul class="pager">
          <li><a class="previousPageButton" href="#">Previous Page</a></li>
          <li><a class="nextPageButton" href="#">Next Page</a></li>
      </ul>
    </nav>
    <main>
        <% if(questions !== undefined) {%>
          <% include ../partials/questions %>
        <%}%>
    </main>
    <nav>
       <ul class="pager">
           <li><a class="previousPageButton" href="#">Previous Page</a></li>
           <li><a class="nextPageButton" href="#">Next Page</a></li>
       </ul>
     </nav>
    <footer>
        <img src="/images/logo.jpg" alt="" />
    </footer>
    <script src="/scripts/main.js"></script>
</body>
</html>
